@use "../../styles/partials/general" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.sites {
    margin: 1rem;

    .sites-logo {
        height: 8rem;
        width: 100%;
        margin: 1rem 0;
    }
}

.requirements {
    margin: 1rem;
}

@include tablet {
    .sites {
        margin: 2rem;
        .sites-logo__container {
            display: flex;
            justify-content: space-between;
            width: 100%;

            a {
                width: 100%;
                margin: 1rem 0;
                box-sizing: border-box;
                text-align: center;
                & .sites-logo {
                    height: 16rem;
                    width: 95%;
                    text-align:center;
                    box-sizing: border-box;
                }
            }
        }
    }

    .requirements {
        margin: 2rem;
    }
}