@use "../../styles/partials/general" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.sites {
    .sites-title__container{
        margin: 0 2rem;
    }
    .sites-logo {
        height: 8rem;
        width: 100%;
        margin: 1rem 0;
    }

    .requirements {
    }
        .website-guide {
            text-align: center;
            border-top: solid 1px #CBF4FA;

            .website-guide__list {
                list-style: none;
            }

            .tutorial__slider {
                width: 75%;
                text-align: center;
                overflow: hidden;
                margin: auto;
            }

            .tutorial__slides {
                display: flex;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                -webkit-overflow-scrolling: touch;
                height: 15rem;
                margin-bottom: 2rem;
            }

            .tutorial__slides::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }

            .tutorial__slides::-webkit-scrollbar-thumb {
                background: #CBF4FA;
                border-radius: 10px;
            }

            .tutorial__slides::-webkit-scrollbar-track {
                background: transparent;
            }

            .tutorial__slides>div {
                scroll-snap-align: start;
                flex-shrink: 0;
                width: 100%;
                height: 100%;
                margin-right: 50px;
                border-radius: 10px;
                background: #0E1619;
                transform-origin: center center;
                transform: scale(1);
                transition: transform 0.5s;
                position: relative;
                border: 1px solid white;
                justify-content: center;
                align-items: center;
                font-size: 1rem;

                & li {
                    margin: 1.5rem auto;
                }
            }

            .tutorial__slides>div:target {
                /*transform: scale(0.8); */
            }

            .author-info {
                background: rgba(0, 0, 0, 0.75);
                color: white;
                padding: 0.75rem;
                text-align: center;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                margin: 0;
            }

            .author-info a {
                color: white;
            }

            img {
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .tutorial__slider>a {
                display: inline-flex;
                width: 1.5rem;
                height: 1.5rem;
                background: white;
                text-decoration: none;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin: 0 0 0.5rem 0;
                position: relative;
            }

            .tutorial__slider>a:active {
                top: 1px;
            }

            .tutorial__slider>a:focus {
                background: #000;
            }

            #ngrok-config-file {
                display: flex;

                & ul {
                    width: 50%;
                }

                #ngrok-config {
                    margin-top: 0;

                    pre {
                        margin: 0;
                    }
                }
            }


            .sites__input {
                @include textInput;
                margin: auto;
            }
        }
    }

    .sites__submit {
        @include button;
    }

    .sites-copy__container {

        @include copyContainer;

        .sites-copy__button {
            @include copyButton;
        }
    }


@include tablet {
    .sites {

        p {
            font-size: 1.25rem;
        }

        .sites-logo__container {
            display: flex;
            justify-content: space-between;
            width: 100%;

            a {
                width: 100%;
                margin: 1rem 0;
                box-sizing: border-box;
                text-align: center;

                .sites-logo {
                    height: 16rem;
                    width: 95%;
                    text-align: center;
                    box-sizing: border-box;
                }
            }
        }

        .requirements {}
    }
}